<h2 class="title">Prioridad </h2>
<%= link_to image_tag("icons/001_59.png", {:alt => "Atrás", :size => "24x24"}), admin_priorida_path %>
<%= link_to image_tag("icons/001_45.png", {:alt => "Editar", :size => "24x24"}), edit_admin_prioridad_path(@prioridad) %>

<div style="clear: both;">&nbsp;</div>
<div class="entry">
<p>
	<b> Tipo: </b>
	<%= h @prioridad.tipo %>	
  </p>

</div>