<h2 class="title">Prioridad </h2>
<div style="clear: both;">&nbsp;</div>
<div class="entry">
<p>
	<b> Tipo: </b>
	<%= h @prioridad.tipo %>	
  </p>

<%= link_to 'Editar', edit_prioridad_path(@prioridad) %> |
<%= link_to 'Atrás', prioridads_path %>
</div>