<table width="100%" border="0" cellspacing="0" cellpadding="0">
    <tr>
      <th class="enlaces">Reportes disponibles</th>
    </tr>
	<tr>
      <td>
	<ul>
		<li><a href="/reporte/usuarios">Reporte de asuntos por usuario</a></li>
		<li><a href="/reporte/afecha">Reporte de asuntos por fecha</a></li>
		<li><a href="/reporte/asuntos/estado">Reporte de cambios de estado en asuntos</a></li>
		<li><a href="/reporte/multi">Reporte de asuntos por criterios de busqueda</a></li>
	</ul>
		</td>
	    </tr>
</table>