<% content_for :sidebar do -%>
  <%= render :partial => "sidebar"%>
<%end %>
	<h2>Reportes disponibles</h2>
	<div style="clear: both;">&nbsp;</div>
	<div class="entry">	
		<p>
		Seleccione un reporte para visualizarlo en pantalla.	
		</p>
	<ul>
		<li><a href="/reporte/usuarios">Reporte de asuntos por usuario</a></li>
		<li><a href="/reporte/afecha">Reporte de asuntos por fecha</a></li>
	</ul>
	</div>
