<h2>Asuntos por usuario</h2>
<div style="clear: both;">&nbsp;</div>
<div class="entry">

Seleccione el usuario y haga clic en generar reporte.
<% form_tag('/reporte/usuarios/ver', :method => :post) do %>

<p>
    <%= label_tag "Turnado a" %><br />
    <%= select_tag "persona_id", options_from_collection_for_select(User.all.collect, "id", "name")%>
    <%= hidden_field_tag 'reporte', '1'%>

</p>

  <p>
    <%= submit_tag 'Visualizar' %>
  </p>
<% end %>
</div>