<h2 class="title">Administración de la aplicación </h2>
<div style="clear: both;">&nbsp;</div>
<div class="entry">
	<p>
		Bienvenido a la sección de administración de la aplicación, acá podrás encontrar las opciones para dar de alta los diversos catálogos que están disponibles así como dar de alta usuarios en el sistema.
	</p>	
</div>