form p{
width: 300px;
clear: left;
margin: 0;
padding: 5px 0 8px 0;
padding-left: 155px; /*width of left column containing the label elements*/
height: 1%;
font-family: Arial, "MS Trebuchet", sans-serif;
}

form fieldset {
	clear: both;
	  font-size: 100%;
	  border-color: #000000;
	  border-width: 1px 0 0 0;
	  border-style: solid none none none;
	  padding: 10px;
	  margin: 0 0 0 0;}

form label{
font-weight: bold;
float: left;
margin-left: -155px; /*width of left column*/
width: 150px; /*width of labels. Should be smaller than left column (155px) to create some right margin*/
text-align: right;
}

form input[type="text"]{ /*width of text boxes. IE6 does not understand this attribute*/
width: 180px;
}

form textarea{
width: 250px;
height: 150px;
}

table.tblShowForm {
	width: 100%; 
	border-collapse: collapse; 
	margin: 1.2em 0
	}
table.tblShowForm td {
	vertical-align: top;
	color: #666; 
	font-size: 12px; 
	padding: 8px 0}

