<ul>
	<li><%= link_to "INICIO", :controller => "dashboard"  %></li>
	<li><%= link_to "NUEVO ASUNTO", :controller => "asuntos", :action => "new"  %></li>
	<li><%= link_to "HISTORIAL DE ASUNTO",:controller => "historial"  %></li>
	<li><%= link_to "REPORTES",:controller => "reporte" %></li>
</ul>
