<ul>
	<li><%= tab_to "INICIO", [{:controller => "dashboard" }] %></li>
	<li><%= tab_to "NUEVO ASUNTO", [{:controller => "asuntos", :action => "new" }] %></li>
	<li><%= tab_to "HISTORIAL DE ASUNTO",[{:controller => "historial" }]  %></li>
	<li><%= tab_to "REPORTES",[{:controller => "reporte" }] %></li>
</ul>
