<h2 class="title">Editar el asunto </h2>
<div style="clear: both;">&nbsp;</div>
<div style="clear: both;">&nbsp;</div>
<div class="entry">
<%= render :partial => "asuntoform" %>


<%= link_to 'Atrás', root_path %>
</div>