<h2 class="title">Ver asuntos </h2>
<%= link_to image_tag("icons/001_59.png", {:alt => "Atrás", :size => "24x24"}), admin_status_path %>
<%= link_to image_tag("icons/001_45.png", {:alt => "Editar", :size => "24x24"}), edit_admin_status_path(@status) %>

<div style="clear: both;">&nbsp;</div>
<div class="entry">
<p>
<b> Tipo </b>
    <%=h @status.tipo %>
  </p>

</div>