<h2 class="title">Editar categoría </h2>
<%= link_to image_tag("icons/001_59.png", {:alt => "Atrás", :size => "24x24"}), admin_categorias_path %>
<%= link_to image_tag("icons/001_49.png", {:alt => "Editar", :size => "24x24"}), edit_admin_categoria_path(@categoria) %>

<div style="clear: both;">&nbsp;</div>
<div class="entry">
<p>
  <b>Tipo:</b>
  <%=h @categoria.tipo %>
</p>

</div>